@media (min-width: 992px) {
  .js .paragraph-top {
    -ms-grid-columns: 200px auto 1fr auto !important;
    grid-template-columns: 200px auto 1fr auto !important;
  }
  .js .paragraph-type-label {
    font-weight: 700;
  }
  .js .paragraphs-nested .paragraph-type-label::before {
    content: "-";
    color: #003cc5;
    margin-right: 10px;
    font-size: 20px;
  }
}
