.node-form .entity-meta details[open] {
  background-image: none;
}
.node-form .entity-meta__header,
.node-form .entity-meta details {
  border-top: 0 none transparent;
  border-bottom: 0 none transparent;
}
.node-form .entity-meta__header:first-child,
.node-form .entity-meta details:first-child {
  border-top-color: transparent;
}
.node-form .entity-meta__header.accordion__item:first-child {
  margin-top: 0;
}
@media screen and (min-width: 768px) {

  .node-form .layout-region--node-main,
  .node-form .layout-region--node-footer {
    float: inherit;
    /* LTR */
    width: 100%;
    padding-right: 0;
    /* LTR */
    box-sizing: border-box;
  }
  .node-form .layout-region--node-main .layout-region__content,
  .node-form .layout-region--node-footer .layout-region__content {
    max-width: none;
  }
  .node-form [dir="rtl"] .layout-region--node-main,
  .node-form [dir="rtl"] .layout-region--node-footer {
    float: inherit;
    padding-left: 0;
    padding-right: 0;
  }
  .node-form .layout-region--node-secondary {
    float: inherit;
    /* LTR */
    width: 100%;
  }
  .node-form [dir="rtl"] .layout-region--node-secondary {
    float: inherit;
  }
}
